.git
.gitignore
.gitattributes
.idea
.vs
.vscode
.dotnet
.tmp

**/bin
**/obj
**/TestResults
**/artifacts
**/coverage
**/*.coverage
**/*.trx

.env
.env.*
!.env.example

certs
*.pfx
*.p12
*.snk

**/appsettings.Local.json
**/appsettings.*.local.json

*.user
*.suo
*.DotSettings.user

Thumbs.db
.DS_Store
