ASPNETCORE_ENVIRONMENT=Development
GRPC_PORT=8443

POSTGRES_DB=whispr_mailbox
POSTGRES_USER=postgres
POSTGRES_PASSWORD=replace_me
POSTGRES_PORT=5435

REDIS_PASSWORD=replace_me
REDIS_PORT=6379
REDIS_INSIGHT_PORT=5540
